language: python
python:
  - "3.7"
  - "3.9"
# command to install dependencies
cache: pip
install:
  - pip install cython
  - pip install --upgrade pip setuptools wheel
  - pip install -e .
  - pip install pytest pytest-cov
  - pip install coveralls
# command to run tests
script:
    - cd tests
    - pytest --cov=pysd  *.py
    - coveralls
