pandas
parsimonious
xarray
netCDF4==1.5; platform_system == 'Windows' and python_version == "3.7"
netCDF4==1.6; platform_system != 'Windows' or python_version != "3.7"
xlrd
lxml
regex
chardet
black
openpyxl
scipy
progressbar2
portion
