--only-binary=netCDF4

pytest
pytest-cov
pytest-mock
pytest-xdist
coverage
coveralls
psutil
netCDF4==1.5.*; platform_system == 'Windows' and python_version == "3.7"
netCDF4==1.6.*; platform_system != 'Windows' or python_version >= "3.10"
dask[array]
dask[diagnostics]
dask[distributed]
importlib-metadata==2.0; python_version == "3.7"
