# Run CI tests with pytest and update coverage to coveralls

name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.7', '3.11']

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -U pip
          pip install -U wheel
          pip install --prefer-binary -r tests/requirements.txt
          pip install --prefer-binary -e .
      - name: Test and coverage
        run: |
          pytest tests/ --cov=pysd -n 2
          coverage xml
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: coverage.xml
        if: ${{ matrix.python-version == 3.7 && matrix.os == 'ubuntu-latest' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

